@using Microsoft.AspNetCore.Http
@{
    var studentId = Context.Session.GetInt32("studentId");
    var teacherId = Context.Session.GetInt32("teacherId");
}
@model List<Student>
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách sinh viên</h6>
            <a href="/student/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mt-3"><i class="fas fa-plus fa-sm text-white-50"></i> Đăng kí thông tin</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length">
                        <label>Tìm kiếm:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Identity: activate to sort column descending" style="width: 262px;">Mã sinh viên</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 429.766px;">Họ tên</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 194.5px;">Email</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending" style="width: 100.547px;">Số điện thoại</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending" style="width: 188.094px;">Địa chỉ</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="ClassId: activate to sort column ascending" style="width: 155.094px;">Mã lớp</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="action: activate to sort column ascending" style="width: 155.094px;">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">@item.Identity</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Address</td>
                                            <td>@item.ClassName</td>
                                            <td>
                                                <a href="/student/detail?id=@item.Id" class="zmdi zmdi-comment-edit display-block-mb-5">Xem</a>
                                                @if (teacherId == null && studentId == item.Id)
                                                {
                                                    <a href="/student/update?id=@item.Id" class="zmdi zmdi-assignment display-block-mb-5">Sửa</a>
                                                }
                                                @if (teacherId != null)
                                                {
                                                    <a href="/student/update?id=@item.Id" class="zmdi zmdi-assignment display-block-mb-5">Sửa</a>
                                                    <a onclick="Delete(@item.Id)" class="zmdi zmdi-delete display-block-mb-5">Xóa</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Delete(Id) {
        var data = {
            Id: Id,
        };
        var title = "Bạn có đồng ý xóa dữ liệu này không?";
        var url = '/student/delete/' + Id;
        swal({
            title: title,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm != 'ok') {

            } else {
                $.post(url, data,
                    function(rs) {
                        if (rs.status > 0) {
                            swal({
                                title: "Xóa thành công!",
                                text: "Dữ liệu của bạn đã được cập nhật!",
                                icon: "success",
                            }).then(function(isConfirm) {
                                window.location.href = '/student/list';
                            });
                        }
                        else {
                            toastr.error(rs.message);
                        }
                    });
            }
        });
    }
</script>
