@model InternshipEvaluation
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4 mt-5 col-md-8">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Đánh giá thực tập</h6>
        </div>
        <div class="card-body">
            <b>1. Thông tin đề tài: @ViewBag.DataInfo.TopicInfo.Name</b>
            <p>Yêu cầu: @Html.Raw(ViewBag.DataInfo.TopicInfo.Content)</p>
            <p>Thời gian: @ViewBag.DataInfo.TopicInfo.Deadline</p>
            <p>Gv hướng dẫn: @Model.TeacherName</p>
            <b>2. Thông tin sinh viên:</b>
            <p>@ViewBag.DataInfo.StudentInfo.Name - @ViewBag.DataInfo.StudentInfo.Identity</p>
            <b>3. Thông tin đánh gia của sinh viên: </b>
            <p class="mt-5">Đánh giá về người hướng dẫn</p>
            <p>@Html.Raw(Model.EvaluateTeacher)</p>
            <p class="mt-5">Đánh giá về đề tài</p>
            <p>@Html.Raw(Model.EvaluateTeacher)</p>
        </div>
    </div>
</div>